<div class="container">
  <div class="relative-container">
    <section class="section-absolute">
      <div class="logo-and-text">
        <img src="/assets/logo.jpg" alt="Logo" class="logo">
        <p>FrostStream</p>
      </div>
      <div class="signup">
        <button>Login</button>
      </div>
    </section>
  </div>

  <div class="vision-container">
    <section class="vision-statement">
      <p>Empowering every life insurance agent with cutting-edge, intuitive software that transforms their presentation skills, ultimately leading to enriched customer experiences and higher levels of success in their professional lives.</p>
      <button class="contact-button">Contact</button>
    </section>
    <div class="empty-space"></div>
  </div>
</div>




