
/*.container {*/
/*  position: relative;*/
/*}*/

.section-absolute {
  /*position: absolute;*/
  margin-top: 75px; /* adjust this value to the distance you want */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-and-text {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.logo {

  border: 2px solid black; /* adjust color as needed */
  border-radius: 10px;
  max-width: 5%; /* adjust as needed */
  height: auto;
  margin-right: 10px; /* adjust this value to create space between the logo and the text */
}

.signup button {
  ;
  background-color: black;
  color: white; /* white text color so it is visible on black background */
  border-radius: 20px; /* adjust as needed to achieve the desired level of roundness */
  border: 1px solid white; /* 2px-wide solid white border */
  padding: 10px 30px; /* add some padding to make the button larger */
}

.vision-statement {
  /*background-color: rgba(0, 0, 0, 0.8);*/
  border-radius: 20px;
  font-size: 2.25em;
  font-weight: 500;
  color: white;
  padding: 20px 20px 20px 40px;
  margin-top: 150px; /* adjust as needed */
}
.vision-container {
  display: flex;
}
.vision-statement, .empty-space {
  flex: 1;
}

.vision-statement::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit; /* Inherit the background of the vision-statement */
  filter: blur(5px); /* Adjust blur intensity as needed */
  z-index: -1;
}

.contact-button {

  margin-top: 5px;
  background-color: white;
  font-size: .5em;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  text-align: center;
  /*font-weight: bold;*/
  cursor: pointer;
  margin-top: 20px;
}
