<div class="container">
  <h3 class="text-center mb-4">Typical Plan vs IUL Plan Comparison</h3>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header cardHeader text-center">
          Typical Plan
        </div>
        <div class="row container ">
        <div class="card-body col-6">Current Age:</div>
        <div class="card-body col-6">55</div>

          <div class="card-body col-6">Age at Retirement:</div>
          <div class="card-body col-6">55</div>

          <div class="card-body col-6">Income Tax (Pre-Retirement):</div>
          <div class="card-body col-6">55</div>
          <hr>
          <div class="card-body col-6">Annual Contributions:</div>
          <div class="card-body col-6">55</div>

          <div class="card-body col-6">Current Account Balance:</div>
          <div class="card-body col-6">55</div>

          <div class="card-body col-6">Annual Rate of Return:</div>
          <div class="card-body col-6">5</div>

          <div class="card-body col-6">%Fees:</div>
          <div class="card-body col-6">55</div>

          <div class="card-body col-6">Employer Match (Annual $ Contributions):</div>
          <div class="card-body col-6">55</div>
          <hr>
          <div class="card-body col-12">Account Value at Retirement</div>

          <div class="card-body col-6">Total Contribution (-Employer Match):</div>
          <div class="card-body col-6 sum">55</div>

          <div class="card-body col-6">Total Account Value:</div>
          <div class="card-body col-6 sum">55</div>
      </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-header text-center">
          IUL
        </div>

        <div class="row container ">
          <div class="card-body col-6">Current Age:</div>
          <div class="card-body col-6">55</div>

          <div class="card-body col-6">Age at Retirement:</div>
          <div class="card-body col-6">55</div>

          <div class="card-body col-6">Income Tax (Pre-Retirement):</div>
          <div class="card-body col-6">55</div>
          <hr>
          <div class="card-body col-6">Annual Premium:</div>
          <div class="card-body col-6">55</div>

          <div class="card-body col-6">Lump Sum Premium:</div>
          <div class="card-body col-6">55</div>

          <div class="card-body col-6">Annual Rate of Return:</div>
          <div class="card-body col-6">5</div>

          <div class="card-body col-6">%Fees:</div>
          <div class="card-body col-6">Included</div>

          <div class="card-body col-6 blankText">
            blank</div>
          <div class="card-body col-6 blankText">
            blank</div>

          <hr>



          <div class="card-body col-12">Account Value at Retirement</div>

          <div class="card-body col-6">Total Contribution (-Employer Match):</div>
          <div class="card-body col-6 sum">55</div>

          <div class="card-body col-6">Total Account Value:</div>
          <div class="card-body col-6 sum">55</div>



        </div>
    </div>
  </div>
</div>
</div>

