.card{
  background-color: rgba(0,0,0,0.85) !important;
  border-radius: 30px;

}

.card-body {

  font-size: .9em;

}
.row {

  margin-left:0px;
  margin-right:0px;
}

.sum {
font-size: 1.5em;
line-height:  .8em;
}

.blankText{
    color:transparent;
}

