<div class="container">

  <h3 class="text-center mb-4">Retirement Income</h3>

  <div class="row">

    <div class="col-sm-6">
      <div class="card h-100" [ngClass]="{'warningMessageOnCardTypical': typicalAccountDepleted}">

        <div class="card-header cardHeader text-center">
          Typical Plan
        </div>

        <div class="row container ">
          <div class="card-body col-8">Age at Retirement:</div>
          <div class="card-body col-4">{{retirementAge}}</div>

          <div class="card-body col-8">Tax Rate (During Retirement):</div>
          <div class="card-body col-4">{{(typicalTaxRateDuringRetirement) / 100 | percent}}</div>

          <div class="card-body col-8">Annual withdraw from Account:</div>
          <div class="card-body col-4">${{typicalAnnualDrawFromAccount | number: '1.0-0'}}</div>

          <div class="card-body col-8">Rate of Return (During Retirement):</div>
          <div class="card-body col-4">{{(typicalRateOfReturnDuringRetirement) / 100 | percent}}</div>
          <hr>
          <div class="card-body col-8">Total Contributions to Account:</div>
          <div class="card-body col-4">${{typicalTotalContribution | number: '1.0-0'}}</div>

          <div class="card-body col-12 fw-bold mt-4">Income During Retirement</div>
<!--          <div class="card-body col-4">{{(profileData.rateOfReturnDuringWorkingYears) / 100 | percent}}</div>-->

          <div class="row purpleOutline">
          <div class="card-body col-8">Account Value:</div>
          <div class="card-body col-4 sum">${{typicalAccountValue | number: '1.0-0' }}</div>

          <div class="card-body col-8">Annual Spendable Income:</div>
          <div class="card-body col-4 sum">${{typicalAnnualSpendableIncome | number: '1.0-0'}}</div>

          <div class="card-body col-8">Total Spendable Income:</div>
          <div class="card-body col-4 sum">${{typicalSpendableIncome | number: '1.0-0' }}</div>




          </div>

          <span *ngIf="typicalAccountDepleted" class="col warningMessage">
              TYPICAL PLAN ACCOUNT IS EMPTY
            </span>

        </div>

      </div>

    </div>


    <div class="col-sm-6">
      <div class="card h-100">
        <div class="card-header text-center">
          IUL
        </div>
        <div class="row container ">
          <div class="card-body col-8">Age at Retirement:</div>
          <div class="card-body col-4">{{retirementAge}}</div>

          <div class="card-body col-8">Tax Rate (During Retirement):</div>
          <div class="card-body col-4">{{(IULTaxRateDuringRetirement) / 100 | percent}}</div>

          <div class="card-body col-8">Annual Draw Against Account:</div>
          <div class="card-body col-4">${{IULAnnualDrawAgainstAccount | number: '1.0-0'}}</div>

          <div class="card-body col-8">Rate of Return (During Retirement):</div>
          <div class="card-body col-4">{{(IULNewRateOfReturnAfterRetirement) / 100 | percent}}</div>
<!--          <hr class="cardCustomMargin">-->
          <hr>
          <div class="card-body col-8">Total Premium Paid:</div>
          <div class="card-body col-4">${{IULTotalPremiumPaid | number: '1.0-0'}}</div>

          <div class="card-body col-8 fw-bold mt-4">Account Value at Retirement</div>

<!--       calculate value-->
          <div class="row purpleOutline">
          <div class="card-body col-8">Account Value:</div>
          <div class="card-body col-4 sum">${{IULAccountValue | number: '1.0-0'}}</div>

          <div class="card-body col-8">Annual Spendable Income:</div>
          <div class="card-body col-4 sum">${{IULAnnualSpendableIncome | number: '1.0-0'}}</div>

          <div class="card-body col-8">Total Spendable Income:</div>
          <div class="card-body col-4 sum">${{IULTotalSpendableIncome | number: '1.0-0'}}</div>

<!--          <div class="card-body col-8">Total Death Benefit:</div>-->
<!--          <div class="card-body col-4 sum">${{IULDeathBenefit}}</div>-->
          </div>
          <hr class="cardCustomMarginInvisible">
        </div>
      </div>
    </div>
  </div>

  <div class="container inputContainer mt-2">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="row">

            <div class="card-body">

              <div class="col-4 offset-3">
                <div class="input-group">
                  <div class="input-group-prepend mx-1">
                    <span class="input-group-text" id="age">Age:</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                         [(ngModel)]="typicalSetAge" (change)="typicalAgeSelector()" [min]="typicalMinAge" [max]="typicalMaxAge">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="row">

            <div class="card-body">

              <div class="col-4 offset-3">
                <div class="input-group">
                  <div class="input-group-prepend mx-1">
                    <span class="input-group-text" id="retirementAge">Age:</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                         [(ngModel)]="IULSetAge" (change)="IULAgeSelectorField()" [min]="IULMinAge" [max]="IULMaxAge">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


