
  <nav class="navbar navbar-expand-lg navbar-dark bg-opacity-10">
    <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto justify-content-between w-100">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profiles" routerLinkActive="active">Profiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account-value" routerLinkActive="active">Account Value</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/retirement-income" routerLinkActive="active">Retirement Income</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/taxes" routerLinkActive="active">Taxes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fees" routerLinkActive="active">Fees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/charts" routerLinkActive="active">S&P</a>
        </li>
        <li class="nav-item">
          <button  class="btn btn-primary purpleOutline px-4" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
    </div>
  </nav>


