<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-opacity-10">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav justify-content-between w-100">


        <li class="nav-item">
          <a class="nav-link" routerLink="/profiles" routerLinkActive="active">Profiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account-value" routerLinkActive="active">Account Value</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/retirement-income" routerLinkActive="active">Retirement Income</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/taxes" routerLinkActive="active">Taxes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fees" routerLinkActive="active">Fees</a>
        </li>
      </ul>
    </div>
  </nav>

</div>
