<div class="container">

  <div class="banner">
    <div class="rotated-text">Taxes</div>
  </div>

  <div class="row mt-4">

    <div class="col-sm-6">
      <div class="card h-100" >
        <!--        [ngClass]="{'warningMessageOnCardTypical': typicalAccountDepleted}"-->

        <div class="card-header cardHeader text-center taxesYellow fw-bold">
          Typical Plan
        </div>

        <div class="row container">
          <div class="card-body col-8">Age at Retirement:</div>
<!--                    <div class="card-body col-4">{{retirementAge}}</div>-->

          <div class="card-body col-8">Annual Contribution:</div>
          <!--          <div class="card-body col-4">{{(typicalTaxRateDuringRetirement) / 100 | percent}}</div>-->

          <div class="card-body col-8">Current Account Balance:</div>
          <!--          <div class="card-body col-4">${{typicalAnnualDrawFromAccount | number: '1.0-0'}}</div>-->
          <hr>

          <div class="card-body col-8">Tax Rate (Before Retirement):</div>
          <!--          <div class="card-body col-4">{{(typicalRateOfReturnDuringRetirement) / 100 | percent}}</div>-->

          <div class="card-body col-8">Annual Taxes Deferred:</div>
          <!--          <div class="card-body col-4">${{typicalTotalContribution | number: '1.0-0'}}</div>-->

          <div class="card-body col-8">Annual Tax Deferred (Before Retirement):</div>
          <!--          <div class="card-body col-4">{{(profileData.rateOfReturnDuringWorkingYears) / 100 | percent}}</div>-->

          <hr>

          <div class="card-body col-8">Annual Pre-Tax Income in Retirement:</div>
          <!--            <div class="card-body col-4 sum">${{typicalSpendableIncome | number: '1.0-0' }}</div>-->
          <!--          </div>-->

          <div class="card-body col-8">Annual Spendable Income in Retirement:</div>
          <!--            <div class="card-body col-4 sum">${{typicalSpendableIncome | number: '1.0-0' }}</div>-->
          <!--          </div>-->


          <div class="card-body col-8 taxesYellow fw-bold">Taxes Paid During Retirement:</div>





          <div class="row purpleOutline">
            <div class="card-body col-8">Total Taxes Deferred (Before Retirement):</div>
            <!--            <div class="card-body col-4 sum">${{typicalAccountValue | number: '1.0-0' }}</div>-->

            <div class="card-body col-8">Total Rate:</div>
            <!--            <div class="card-body col-4 sum">${{typicalAnnualSpendableIncome | number: '1.0-0'}}</div>-->

            <div class="card-body col-8">Annual Income Tax Saved:</div>
            <!--            <div class="card-body col-4 sum">${{typicalSpendableIncome | number: '1.0-0' }}</div>-->
            <!--          </div>-->
            <div class="card-body col-8">Total Income Tax Paid:</div>
            <!--          <span *ngIf="typicalAccountDepleted" class="col warningMessage">-->
            <!--              TYPICAL PLAN ACCOUNT IS EMPTY-->
            <!--            </span>-->

          </div>

        </div>

      </div>

    </div>


    <div class="col-sm-6">
      <div class="card h-100" >
        <!--        [ngClass]="{'warningMessageOnCardTypical': typicalAccountDepleted}"-->

        <div class="card-header cardHeader text-center taxesYellow fw-bold">
          IUL
        </div>

        <div class="row container">
          <div class="card-body col-8">Age at Retirement:</div>
          <!--          <div class="card-body col-4">{{retirementAge}}</div>-->

          <div class="card-body col-8">Annual Premium:</div>
          <!--          <div class="card-body col-4">{{(typicalTaxRateDuringRetirement) / 100 | percent}}</div>-->

          <div class="card-body col-8">Lump Sum Premium:</div>
          <!--          <div class="card-body col-4">${{typicalAnnualDrawFromAccount | number: '1.0-0'}}</div>-->
          <hr>

          <div class="card-body col-8">Tax Rate (Before Retirement):</div>
          <!--          <div class="card-body col-4">{{(typicalRateOfReturnDuringRetirement) / 100 | percent}}</div>-->

          <div class="card-body col-8">Annual Taxes Paid:</div>
          <!--          <div class="card-body col-4">${{typicalTotalContribution | number: '1.0-0'}}</div>-->

          <div class="card-body col-8">Total Tax Paid (Before Retirement):</div>
          <!--          <div class="card-body col-4">{{(profileData.rateOfReturnDuringWorkingYears) / 100 | percent}}</div>-->
          <hr>

          <hr class="cardCustomMarginInvisible">
<!--          <div class="card-body col-8">Annual Pre-Tax Income in Retirement</div>-->
          <!--            <div class="card-body col-4 sum">${{typicalSpendableIncome | number: '1.0-0' }}</div>-->
          <!--          </div>-->

          <div class="card-body col-8">Annual Spendable Income in Retirement:</div>
          <!--            <div class="card-body col-4 sum">${{typicalSpendableIncome | number: '1.0-0' }}</div>-->
          <!--          </div>-->


          <div class="card-body col-8 taxesYellow fw-bold">Taxes Saved During Retirement</div>





          <div class="row purpleOutline ">
            <div class="card-body col-8">Total Taxes Paid (Before Retirement):</div>
            <!--            <div class="card-body col-4 sum">${{typicalAccountValue | number: '1.0-0' }}</div>-->

            <div class="card-body col-8">Total Rate:</div>
            <!--            <div class="card-body col-4 sum">${{typicalAnnualSpendableIncome | number: '1.0-0'}}</div>-->

            <div class="card-body col-8">Annual Income Tax Saved:</div>
            <!--            <div class="card-body col-4 sum">${{typicalSpendableIncome | number: '1.0-0' }}</div>-->
            <!--          </div>-->
            <div class="card-body col-8">Total Income Tax Saved:</div>
            <!--          <span *ngIf="typicalAccountDepleted" class="col warningMessage">-->
            <!--              TYPICAL PLAN ACCOUNT IS EMPTY-->
            <!--            </span>-->

          </div>

        </div>

      </div>

    </div>









  <div class="container inputContainer mt-2">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="row">

            <div class="card-body">

              <div class="col-4 offset-3">
                <div class="input-group">
                  <div class="input-group-prepend mx-1">
                    <span class="input-group-text" id="age">Age:</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                         >
<!--                  [(ngModel)]="typicalSetAge" (change)="typicalAgeSelector()" [min]="typicalMinAge" [max]="typicalMaxAge"-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="row">

            <div class="card-body">

              <div class="col-4 offset-3">
                <div class="input-group">
                  <div class="input-group-prepend mx-1">
                    <span class="input-group-text" id="retirementAge">Age:</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                         >
                </div>
<!--                [(ngModel)]="IULSetAge" (change)="IULAgeSelectorField()" [min]="IULMinAge" [max]="IULMaxAge"-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
