<div class="container">

  <div class="banner">
    <div class="rotated-text">Account Value</div>
  </div>


  <div class="row mt-4">

    <div class="col-sm-6">
      <div class="card h-100">

        <div class="card-header cardHeader text-center textYellow fw-bold">
          Typical Plan
        </div>

        <div class="row container">
          <div class="card-body col-8">Current Age:</div>
          <div class="card-body col-4">{{profileData.currentAge}}</div>

          <div class="card-body col-8">Age at Retirement:</div>
          <div class="card-body col-4">{{profileData.retirementAge}}</div>

          <div class="card-body col-8">Income Tax (Pre-Retirement):</div>
          <div class="card-body col-4">{{(profileData.incomeTaxRateDuringWorkingYears) / 100 | percent}}</div>
          <hr>
          <div class="card-body col-8">Annual Contributions:</div>
          <div class="card-body col-4">${{profileData.contribution}}</div>

          <div class="card-body col-8">Current Account Balance:</div>
          <div class="card-body col-4">${{profileData.currentAccountBalance}}</div>

          <div class="card-body col-8">Annual Rate of Return:</div>
          <div class="card-body col-4">{{(profileData.rateOfReturnDuringWorkingYears) / 100 | percent: '1.2-2'}}</div>

          <div class="card-body col-8">%Fees:</div>
          <div class="card-body col-4">{{(profileData.percentFees) / 100 | percent: '1.2-2'}}</div>

          <div class="card-body col-8">Employer Match:</div>
          <div class="card-body col-4">${{profileData.employerMatch}}</div>
          <hr>
          <div class="card-body col-12 textYellow fw-bold">Account Value at Retirement</div>
           <div class="row purpleOutline">

          <div class="card-body col-7">Total Contribution (-Employer Match):</div>
          <div class="card-body col-5 sum">${{ total401kContributions | number: '1.0-0' }}</div>

          <div class="card-body col-7">Total Account Value:</div>
          <div class="card-body col-5 sum">${{ final401kBalance | number: '1.0-0'}}</div>
           </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card h-100">
        <div class="card-header text-center textYellow fw-bold">
          IUL
        </div>
        <div class="row container">
          <div class="card-body col-8">Current Age:</div>
          <div class="card-body col-4">{{profileData.currentAge}}</div>

          <div class="card-body col-8">Age at Retirement:</div>
          <div class="card-body col-4">{{profileData.retirementAge}}</div>

          <div class="card-body col-8">Income Tax (Pre-Retirement):</div>
          <div class="card-body col-4">{{(profileData.incomeTaxRateBeforeRetirement) / 100 | percent}}</div>
          <hr>
          <div class="card-body col-8">Annual Premium:</div>
          <div class="card-body col-4">${{profileData.annualPremium}}</div>

          <div class="card-body col-8">Lump Sum Premium:</div>
          <div class="card-body col-4">${{profileData.lumpSum}}</div>

          <div class="card-body col-8">Annual Rate of Return:</div>
          <div class="card-body col-4">{{(profileData.rateOfReturn) / 100 | percent: '1.2-2'}}</div>

          <div class="card-body col-8">%Fees:</div>
          <div class="card-body col-4">Included</div>

          <hr class="cardCustomMargin">

          <div class="row">
            <div class="card-body col-12 textYellow fw-bold">Account Value at Retirement</div>

            <div class="row purpleOutline">
            <div class="card-body col-7">Total Contribution (-Employer Match):</div>
            <div class="card-body col-5 sum">${{ totalIULContributions | number: '1.0-0' }}</div>
            <div class="card-body col-7">Total Account Value:</div>
            <div class="card-body col-5 sum">${{ finalIULCashValue | number: '1.0-0' }}</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




