<div class="container">
  <h1 class="text-center m-4 pb-4">Profile</h1>

  <div class="row">
    <div class="col-md-6">
      <h2 class="">Universal Inputs</h2>
      <form>
        <div class="form-row row">
          <div class="col-6">
            <div class="form-group">
              <label for="profileName">Name:</label>
              <input type="text" class="form-control" id="profileName" name="profileName">
            </div>
          </div>
          <div class="col-6">
            <label for="currentAge">Current Age:</label>
            <input type="number" class="form-control" id="currentAge" name="currentAge" step="1">
          </div>
        </div>


        <div class="form-row row">
          <div class="col-6">
            <label for="retirementAge">Age at Retirement:</label>
            <input type="number" class="form-control" id="retirementAge" name="retirementAge" step="1">
          </div>
          <div class="col-6">
            <label for="cellPhone">Cell Phone:</label>
            <input type="tel" class="form-control" id="cellPhone" name="cellPhone">
          </div>
        </div>
        <div class="form-row row">
          <div class="col-6">

            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
        </div>


      </form>
    </div>

    <div class="col-md-6">
      <h2 class="">IUL Inputs</h2>
      <form>
        <div class="form-row row">

          <div class="col-5">
            <div class="form-group">
              <label for="profileName2">Annual Premium:</label>
              <input type="text" class="form-control" id="profileName2" name="profileName2">
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label for="currentAge2">Duration (Years):</label>
              <input type="number" class="form-control" id="currentAge2" name="currentAge2" step="1">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="currentAge2">Lump sum Premium:</label>
              <input type="number" class="form-control" id="currentAge4" name="currentAge2" step="1">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="currentAge5">Rate of Return (%):</label>
              <input type="number" class="form-control" id="currentAge5" name="currentAge5" step="1">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="currentAge5">Annual Spendable Income:</label>
              <input type="number" class="form-control" id="currentAge5" name="currentAge5" step="1">
            </div>
          </div>

          <div class="col-5">
            <div class="form-group">
              <label for="currentAge5">Income Duration (Years):</label>
              <input type="number" class="form-control" id="currentAge5" name="currentAge5" step="1">
            </div>
          </div>

          <div class="col-7">
            <div class="form-group">
              <label for="currentAge5">Income Tax Rate (Before Retirement) (%):</label>
              <input type="number" class="form-control" id="currentAge5" name="currentAge5" step="1">
            </div>
          </div>


        </div>

      </form>

    </div>


  </div>


  <div class="row mt-3">

    <h2 class="">Typical Plan Inputs</h2>

    <form>
      <div class="col">
        <label for="paymentFrequencyMonthly">Payment Frequency:</label>
        <div class="mt-1">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="paymentFrequencyRadios" id="paymentFrequencyMonthly"
                   value="option1" checked>
            <label class="form-check-label" for="paymentFrequencyMonthly">Monthly</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="paymentFrequencyRadios" id="paymentFrequencyAnnually"
                   value="option2">
            <label class="form-check-label" for="paymentFrequencyAnnually">Annually</label>
          </div>
        </div>
      </div>


      <div class="row mt-2">
        <div class="col-4">
          <div class="form-group">
            <label for="contribution">Contribution:</label>
            <input type="text" class="form-control" id="contribution" name="contribution">
          </div>
        </div>

        <div class="col-2">
          <div class="form-group">
            <label for="yearsTypical">Duration (Years):</label>
            <input type="number" class="form-control" id="yearsTypical" name="yearsTypical" step="1">
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="currentAccountBalance">Current Account Balance:</label>
            <input type="number" class="form-control" id="currentAccountBalance" name="currentAccountBalance"
                   step=".01">
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="percentFees">Percent Fees (%):</label>
            <input type="number" class="form-control" id="percentFees" name="percentFees" step=".01">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="percentFees">Employer Match (Annual $ Contribution):</label>
            <input type="number" class="form-control" id="percentFees" name="percentFees" step=".01">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="percentFees">Rate of Return during Retirement (%):</label>
            <input type="number" class="form-control" id="percentFees" name="percentFees" step=".01">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="percentFees">Rate of Return during Working Years (%):</label>
            <input type="number" class="form-control" id="percentFees" name="percentFees" step=".01">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="percentFees">Income Tax Rate (Before Retirement) (%):</label>
            <input type="number" class="form-control" id="percentFees" name="percentFees" step=".01">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="percentFees">Income Tax Rate (During Retirement) (%):</label>
            <input type="number" class="form-control" id="percentFees" name="percentFees" step=".01">
          </div>
        </div>


      </div>

    </form>
  </div>


</div>

<div class="row mt-4">

  <!-- Add more form elements as needed -->
</div>


<!--    <div class="col"><h2 class="purple">IUL Inputs</h2>-->
<!--    </div>-->

