
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen] = "true"></ngx-spinner>

<div class="container">
  <h3 class="text-end">{{profileName}}</h3>


  <div class="row">
    <div class="col-md-6">
      <h4 class="">Universal Inputs</h4>

      <form>
        <div class="form-row row">
          <div class="col-6">
            <div class="form-group">
              <label for="profileName">Name:</label>
              <input type="text" class="form-control purpleOutline" id="profileName" name="profileName" [(ngModel)]="fetchedUsers.profileName">
            </div>
          </div>
          <div class="col-6">
            <label for="currentAge">Current Age:</label>
            <input type="number" class="form-control purpleOutline" id="currentAge" name="currentAge" step="1" (change)="yearsBetweenAges()" [(ngModel)]="fetchedUsers.currentAge">
          </div>
        </div>


        <div class="form-row row">
          <div class="col-6">
            <label for="retirementAge">Age at Retirement:</label>
            <input type="number" class="form-control purpleOutline" id="retirementAge" name="retirementAge" step="1" (change)="yearsBetweenAges()" [(ngModel)]="fetchedUsers.retirementAge">
          </div>
          <div class="col-6">
            <label for="cellPhone">Cell Phone:</label>
            <input type="tel" class="form-control purpleOutline" id="cellPhone" name="cellPhone" [(ngModel)]="fetchedUsers.cellPhone">
          </div>
        </div>

        <div class="form-row row">
          <div class="col-6">

            <label for="email">Email:</label>
            <input type="email" class="form-control purpleOutline" id="email" name="email" [(ngModel)]="fetchedUsers.email">
          </div>


        </div>

      </form>
    </div>

    <div class="col-md-6">
      <h4 class="">IUL Inputs</h4>
      <form>
        <div class="form-row row">

          <div class="col-4">
            <div class="form-group">
              <label for="annualPremium">Annual Premium:</label>
              <input currencyMask [options]="{ align: 'left', prefix: '$', thousands: ',', decimal: '.',precision:'0' }"
                     class="form-control purpleOutline" id="annualPremium" name="annualPremium" step=".01" [(ngModel)]="fetchedUsers.annualPremium"
                     autocomplete="off">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="yearsIUL">Duration (Years):</label>
              <input type="number" class="form-control purpleOutline" id="yearsIUL" name="yearsIUL" step="1" readonly [(ngModel)]="fetchedUsers.yearsIUL">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="lumpSum">Lump sum Premium:</label>
              <input currencyMask [options]="{ align: 'left', prefix: '$', thousands: ',', decimal: '.',precision:'0'}" class="form-control purpleOutline" id="lumpSum" name="lumpSum" step=".01" [(ngModel)]="fetchedUsers.lumpSum">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="rateOfReturn">Rate of Return (%):</label>
              <input type="number" class="form-control purpleOutline" id="rateOfReturn" name="rateOfReturn" step=".01" [(ngModel)]="fetchedUsers.rateOfReturn">
            </div>
          </div>


          <div class="col-4">
            <div class="form-group">
            <label for="feesIUL">IUL fees:</label>
            <input currencyMask [options]="{ align: 'left', prefix: '$', thousands: ',', decimal: '.',precision:'0'}" class="form-control purpleOutline" id="feesIUL" name="feesIUL" [(ngModel)]="fetchedUsers.feesIUL" step=".01">
          </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="feesIULPercent">IUL (%):</label>
              <input type="number" class="form-control purpleOutline" id="feesIULPercent" name="feesIULPercent" [(ngModel)]="fetchedUsers.feesIULPercent" step=".01">
            </div>
          </div>



          <div class="col-6">
            <div class="form-group">
              <label for="annualSpendableIncome">Annual Spendable Income:</label>
              <input currencyMask [options]="{ align: 'left', prefix: '$', thousands: ',', decimal: '.',precision:'0'}" class="form-control purpleOutline" id="annualSpendableIncome" name="annualSpendableIncome" step=".01" [(ngModel)]="fetchedUsers.annualSpendableIncome">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="incomeDuration">Income Duration (Years):</label>
              <input type="number" class="form-control purpleOutline" id="incomeDuration" name="incomeDuration" step="1" [(ngModel)]="fetchedUsers.incomeDuration">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="incomeTaxRateBeforeRetirement">Per Retirement Tax(%):</label>
              <input type="number" class="form-control purpleOutline" id="incomeTaxRateBeforeRetirement" name="incomeTaxRateBeforeRetirement" step=".01" [(ngModel)]="fetchedUsers.incomeTaxRateBeforeRetirement">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="loanPercent">Loan Percent(%):</label>
              <input type="number" class="form-control purpleOutline" id="loanPercent" name="loanPercent" step=".01" [(ngModel)]="fetchedUsers.loanPercentForIUL">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="rateOfReturnDuringRetirementIUL">New Rate of Return(%):</label>
              <input type="number" class="form-control purpleOutline" id="rateOfReturnDuringRetirementIUL" name="rateOfReturnDuringRetirementIUL" step=".01" [(ngModel)]="fetchedUsers.rateOfReturnDuringRetirementIUL">
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>


  <div class="row mt-3">
    <h4 class="">Typical Plan Inputs</h4>
    <form>
      <div class="col">
        <label for="paymentFrequencyMonthly">Payment Frequency:</label>
        <div class="mt-1">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="paymentFrequencyRadios" id="paymentFrequencyMonthly"
                   value="monthly" [(ngModel)]="fetchedUsers.paymentFrequency">
            <label class="form-check-label" for="paymentFrequencyMonthly">Monthly</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="paymentFrequencyRadios" id="paymentFrequencyAnnually"
                   value="annually" [(ngModel)]="fetchedUsers.paymentFrequency">
            <label class="form-check-label" for="paymentFrequencyAnnually">Annually</label>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-4">
          <div class="form-group">
            <label for="contribution">Contribution:</label>
            <input currencyMask [options]="{ align: 'left', prefix: '$', thousands: ',', decimal: '.',precision:'0'}" class="form-control purpleOutline" id="contribution" name="contribution" step=".01" [(ngModel)]="fetchedUsers.contribution">
          </div>
        </div>

        <div class="col-2">
          <div class="form-group">
            <label for="yearsTypical">Duration (Years):</label>
            <input type="number" class="form-control purpleOutline" id="yearsTypical" name="yearsTypical" step="1" readonly [(ngModel)]="fetchedUsers.yearsTypical">
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="currentAccountBalance">Current Account Balance:</label>
            <input currencyMask [options]="{ align: 'left', prefix: '$', thousands: ',', decimal: '.',precision:'0'}" class="form-control purpleOutline" id="currentAccountBalance" name="currentAccountBalance"
                   step=".01" [(ngModel)]="fetchedUsers.currentAccountBalance" autocomplete="off">
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label for="percentFees">Percent Fees (%):</label>
            <input type="number" class="form-control purpleOutline" id="percentFees" name="percentFees" step=".01" [(ngModel)]="fetchedUsers.percentFees">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="employerMatch">Employer Match (Annual $ Contribution):</label>
            <input currencyMask [options]="{ align: 'left', prefix: '$', thousands: ',', decimal: '.',precision:'0'}" class="form-control purpleOutline" id="employerMatch" name="employerMatch" step=".01" [(ngModel)]="fetchedUsers.employerMatch">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="rateOfReturnDuringRetirement">Rate of Return during Retirement (%):</label>
            <input type="number" class="form-control purpleOutline" id="rateOfReturnDuringRetirement" name="rateOfReturnDuringRetirement" step=".01" [(ngModel)]="fetchedUsers.rateOfReturnDuringRetirement">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="rateOfReturnDuringWorkingYears">Rate of Return during Working Years (%):</label>
            <input type="number" class="form-control purpleOutline" id="rateOfReturnDuringWorkingYears" name="rateOfReturnDuringWorkingYears" step=".01" [(ngModel)]="fetchedUsers.rateOfReturnDuringWorkingYears">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="incomeTaxRateDuringRetirement">Income Tax Rate (Before Retirement) (%):</label>
            <input type="number" class="form-control purpleOutline" id="incomeTaxRateDuringRetirement" name="incomeTaxRateDuringRetirement" step=".01" [(ngModel)]="fetchedUsers.incomeTaxRateDuringRetirement">
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="incomeTaxRateDuringWorkingYears">Income Tax Rate (During Retirement) (%):</label>
            <input type="number" class="form-control purpleOutline" id="incomeTaxRateDuringWorkingYears" name="incomeTaxRateDuringWorkingYears" step=".01" [(ngModel)]="fetchedUsers.incomeTaxRateDuringWorkingYears">
          </div>

        </div>
        <div class="form-group">
        <button type="button" class="btn btn-primary mt-2 purpleOutline" (click)="saveProfile()"><span>Update Profile</span></button>
          <span class="message redOutline" *ngIf="showUpdateProfileMessage">Profile Saved!</span>


      </div>



      </div>
    </form>
  </div>
</div>



