form {
  margin-top: 10px;
  /*backdrop-filter: blur(25px);*/
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(0,0,0,0.8);
  font-size: .9em;
}
.btn {
  width:15%;
}

.message {

  background-color: red;
  padding: 5px;

  float: right;
  border-radius: 10px;

}

.purpleOutline {
  border: 1px solid mediumpurple;
  border-radius: 20px;
  background-color: rgb(27,27,27);
  color: white;
}
.redOutline {
  border: 1px solid darkred;
  border-radius: 20px;
  background-color: black;
  color: white;
}
